body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#canvas{
    position: relative;
}
#quitButton{
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background: grey;
    color: white;
    width: 85px;
    position: absolute;
    margin-left: 60px;
    margin-top: 20px;
    padding: 5px 0;
}
